body{
    background-image: url("/background.jpg");
    background-size: cover;
    color: white;
}
.input{
    width: 20%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #262626;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;	
    color: white;
    padding-left: 10px;
}
.cont-weather{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forecastName{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forecastDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#weather li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.537);
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
}

@media (max-width: 768px) {
    .input {
        width: 95%;
    }
}